/* mailsender.css */

/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* Set dark mode theme */
  body {
    background-color: #1a1a1a;
    color: #e0e0e0;
  }
  
  .documentation-container {
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    margin: 20vh;
  }
  
  h1 {
    color: #007BFF;
    font-size: 2.5rem;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  
  h2 {
    color: #0062CC;
    font-size: 1.8rem;
    margin-top: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  code {
    background-color: #2b2b2b;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: Consolas, monospace;
  }
  
  .endpoint {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .endpoint-title {
    color: #007BFF;
    font-size: 2rem;
  }
  
  .endpoint-description {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ccc;
  }
  
  .endpoint-example {
    background-color: #2b2b2b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  .highlight {
    color: #e83e8c;
  }
  
  .response {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .response-title {
    color: #0062CC;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .response-example {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* New CSS animations */
  .documentation-container {
    animation: fadeIn 1s ease;
  }
  
  .endpoint, .response {
    animation: slideInUp 1s ease;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes slideInUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Add some spacing and styling to the "Contact the Developer" button */
  .contact-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .contact-button {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 6px;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .contact-button:hover {
    transform: scale(1.05);
    background-color: #0056b3;
  }
  